@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Spectral:wght@400;700&display=swap");
* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

aside,
nav,
footer,
header,
section {
	display: block;
}

html,
body {
	height: 100%;
	min-width: 320px;
}

body {
	line-height: 1;
	font-family: "";
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: "";
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

body {
	color: #000;
	font-size: 14px;
}
body.lock {
	overflow: hidden;
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
}
.container {
	max-width: 980px;
	margin: 0 auto;
	width: 100%;
}

.form-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	margin: 0px -15px;
}

.form__column {
	padding: 0px 15px;
}

.btn {
	display: inline-block;
	padding: 0px 0px;
}
.btn.fw {
	width: 100%;
}

.select-block {
	position: relative;
}

.select__label {
	z-index: 2;
	position: absolute;
	top: -8px;
	background-color: #f7f7f7;
	padding: 0 5px;
	color: #979797;
	font-weight: 600;
	font-size: 13px;
	line-height: 16px;
	left: 20px;
}

.select {
	position: relative;
	cursor: pointer;
}
.select .select-title {
	z-index: 1;
	width: 100%;
	height: 55px;
	border: 1px solid #dedede;
	position: relative;
	background-color: #fff;
}
.select .select-title__arrow {
	position: absolute;
	top: 0;
	right: 0px;
	width: 45px;
	height: 100%;
	background: url("../img/icons/select-arrow.svg") center no-repeat;
}
.select .select-title__value {
	color: #000;
	font-weight: 700;
	font-size: 18px;
	line-height: 53px;
	display: block;
	overflow: hidden;
	padding: 0 45px 0 25px;
	white-space: nowrap;
	text-transform: none;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
}
.select .select-options {
	position: absolute;
	z-index: 10;
	top: 54px;
	display: none;
	overflow: hidden;
	min-width: 100%;
	background-color: #fff;
	border: 1px solid #dedede;
	padding: 10px 20px 10px 25px;
}
.select .select-options-scroll {
	max-height: 80px;
	overflow: auto;
}
.select .select-options-list {
	padding: 0px 0px 0px 0px;
}
.select .select-options__value {
	color: #000;
	font-size: 20px;
	margin: 0px 0px 15px 0px;
}
.select .select-options__value:last-child {
	margin: 0px 0px 0px 0px;
}
.select .select-options__value:hover {
	color: #000;
}

input[type=text], input[type=email], input[type=tel], textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.input {
	border-radius: 0 !important;
	width: 100%;
	display: block;
	padding: 0px 20px;
}
textarea.input {
	resize: none;
	padding: 0px 0px;
}

.check {
	position: relative;
	padding-left: 25px;
	color: #5f5f5f;
	line-height: 18px;
	cursor: pointer;
}
.check input {
	display: none;
}
.check:before {
	content: "";
	left: 0;
	top: 0;
	width: 18px;
	height: 18px;
	border: 1px solid #a3a3a3;
	position: absolute;
}
.check.active:before {
	background: url("../img/icons/check.png") center no-repeat;
}

.option {
	position: relative;
	cursor: pointer;
	padding-left: 25px;
	line-height: 16px;
	margin-bottom: 10px;
	font-size: 15px;
	font-weight: 300;
}
.option:last-child {
	margin-bottom: 0px;
}
.option input {
	display: none;
}
.option:before {
	position: absolute;
	left: 0;
	top: 0;
	width: 16px;
	height: 16px;
	content: "";
	border: 1px solid #7f7f7f;
	border-radius: 50%;
}
.option.active:before {
	background: url("../img/icons/option.png") center no-repeat;
}

.rating-block {
	display: table;
	font-size: 0;
}

.rating {
	display: inline-block;
	position: relative;
	vertical-align: middle;
}
.rating.edit .star {
	cursor: pointer;
}
.rating .star {
	width: 17px;
	height: 14px;
	display: inline-block;
	position: relative;
	z-index: 3;
}

.rating__line {
	position: absolute;
	width: 85px;
	height: 14px;
	top: 0;
	left: 0;
	background: url("../img/icons/bg_rating.svg") 0 0 no-repeat;
	z-index: 1;
	background-size: 85px 100%;
}

.rating__activeline {
	position: absolute;
	width: 0px;
	height: 14px;
	top: 0;
	left: 0;
	background: url("../img/icons/bg_rating_active.svg") 0 0 no-repeat;
	z-index: 2;
	background-size: 85px 100%;
}

.rating__value {
	display: inline-block;
	color: #1b3139;
	font-size: 14px;
	line-height: 13px;
	vertical-align: middle;
}

.quantity {
	position: relative;
	width: 73px;
	height: 47px;
	border: 1px solid #cfcfcf;
	background-color: #ffffff;
}

.quantity__input {
	height: 45px;
	width: 50px;
	text-align: center;
	color: #101010;
	font-weight: 300;
}

.quantity__btn {
	position: absolute;
	top: 11px;
	right: 15px;
	cursor: pointer;
}
.quantity__btn:before {
	font-size: 25px;
	display: inline-block;
	line-height: 10px;
	color: #a9a9a9;
}
.quantity__btn:hover:before {
	color: #da0005;
}
.quantity__btn.dwn {
	top: 25px;
}

.category-params-item-price-table {
	margin-bottom: 25px;
}
.category-params-item-price-table .cell:first-child {
	padding-right: 15px;
	position: relative;
}
.category-params-item-price-table .cell:first-child:after {
	content: "-";
	position: absolute;
	right: -4px;
	top: 8px;
	font-size: 20px;
}
.category-params-item-price-table .cell:last-child {
	padding-left: 15px;
}
.category-params-item-price-table .cell input {
	height: 37px;
	border: 2px solid #393939;
	background-color: #ffffff;
	text-align: center;
	font-size: 12px;
	color: #393939;
	font-weight: 500;
	width: 100%;
}

.category-params-item-price-range {
	margin: 0 12px 40px 12px;
	background-color: #c9cecf;
	height: 2px;
	position: relative;
}
.category-params-item-price-range .ui-slider-range {
	background-color: #000;
	height: 2px;
	position: relative;
}
.category-params-item-price-range .ui-slider-handle {
	width: 23px;
	height: 28px;
	border: 3px solid #fbfbfb;
	background-color: #ea5922;
	display: block;
	position: absolute;
	top: -14px;
	margin-left: -12px;
	cursor: pointer;
}
.category-params-item-price-range .ui-slider-handle span {
	position: absolute;
	bottom: -18px;
	left: 50%;
	width: 50px;
	text-align: center;
	font-size: 10px;
	margin-left: -25px;
	font-weight: 500;
	color: #94a6aa;
}

.form__info {
	position: absolute;
	width: 60px;
	height: 60px;
	right: 0;
	top: 0;
	line-height: 60px;
	text-align: center;
	color: #888;
	z-index: 2;
	font-size: 14px;
}
@media (max-width: 785.98px) {
	.form__info {
		width: 50px;
		height: 50px;
		line-height: 50px;
	}
}

.form-range-line {
	position: relative;
	height: 5px;
	border-radius: 0 0 4px 4px;
	background-color: #e0e0e0;
	margin: -2px 0px 0px 0px;
}
.form-range-line .ui-slider-range {
	background-color: #093454;
	height: 5px;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 0 0 4px 4px;
}
.form-range-line .ui-slider-handle {
	background: url("../img/icons/range.svg") 0 0 no-repeat;
	width: 28px;
	height: 28px;
	position: absolute;
	margin: -9px 0px 0px -14px;
	top: 0;
	left: 0;
	cursor: pointer;
}
.form-range-line .ui-state-hover {
	background: url("../img/icons/range_a.svg") 0 0 no-repeat;
}

.form-range-values {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 14px 0px 0px 0px;
}

.form-range-values__item {
	font-size: 12px;
	color: #888;
}

.row:after {
	display: block;
	content: "";
	clear: both;
}

.rub:after {
	content: "₽";
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

ol.counter {
	list-style-type: none;
	counter-reset: item;
}
ol.counter li {
	position: relative;
	padding: 0px 0px 0px 45px;
}
ol.counter li:before {
	counter-increment: item;
	content: counter(item);
	position: absolute;
	left: 0;
	top: 0;
	color: #818181;
	font-size: 14px;
	font-weight: 700;
	text-align: center;
	line-height: 26px;
	border-radius: 50%;
	width: 28px;
	height: 28px;
	border: 1px solid #4274bb;
}

.ellipsis {
	display: block;
	overflow: hidden;
	width: 100%;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
}

.es {
	overflow: hidden;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
}

.table {
	display: table;
	font-size: 0;
	width: 100%;
}

.trow {
	display: table-row;
}

.cell {
	display: table-cell;
}
.cell.full {
	width: 100%;
}

.ibg {
	position: relative;
}
.ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	-o-object-fit: cover;
	   object-fit: cover;
}

body.ie .ibg {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
body.ie .ibg img {
	width: 0;
	height: 0;
	opacity: 0;
	visibility: hidden;
}

.video {
	position: relative;
	overflow: hidden;
	height: 0;
	padding-bottom: 56.25%;
}
.video video,
.video iframe,
.video object,
.video embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	-webkit-transform: translateX(-50%) translateY(-50%);
	    -ms-transform: translateX(-50%) translateY(-50%);
	        transform: translateX(-50%) translateY(-50%);
	background-size: cover;
}

.moretext {
	overflow: hidden;
}

.moretext__more {
	cursor: pointer;
}
.moretext__more span {
	font-style: normal;
}
.moretext__more span:first-child {
	display: block;
}
.moretext__more span:last-child {
	display: none;
}
.moretext__more.active span {
	font-style: normal;
}
.moretext__more.active span:first-child {
	display: none;
}
.moretext__more.active span:last-child {
	display: block;
}

.graystyle {
	-webkit-transition: all 0.8s ease 0s;
	-o-transition: all 0.8s ease 0s;
	transition: all 0.8s ease 0s;
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-o-filter: grayscale(1);
}

.graystyleoff {
	filter: grayscale(0);
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-o-filter: grayscale(0);
}

.slick-slider {
	position: relative;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.slick-slider .slick-list {
	position: relative;
	overflow: hidden;
	width: 100%;
}
.slick-slider .slick-track {
	position: relative;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
}
.slick-slider .slick-slide {
	position: relative;
}
.tab__item {
	display: none;
}
.tab__item.active {
	display: block;
}

.mirror {
	-webkit-transform: scale(-1, 1);
	    -ms-transform: scale(-1, 1);
	        transform: scale(-1, 1);
}

.nicescroll-rails {
	z-index: 1000 !important;
}

.gm-style-iw-t {
	opacity: 0;
}

.baloon {
	opacity: 1;
	right: -7px !important;
	bottom: 80px !important;
}
.baloon button {
	display: none !important;
}
.baloon:after {
	display: none !important;
}

.baloon-style {
	display: none;
}

.baloon-content.gm-style-iw {
	opacity: 1;
	border-radius: 0px !important;
	max-width: 300px !important;
	padding: 0 !important;
	left: 0 !important;
	width: 100% !important;
	overflow: visible !important;
}
.baloon-content.gm-style-iw > .gm-style-iw-d {
	overflow: hidden !important;
	max-width: none !important;
}
.baloon-content.gm-style-iw:after {
	display: none !important;
}

.baloon-close {
	top: 18px !important;
}

.popup {
	-webkit-overflow-scrolling: touch;
	background-color: rgba(0, 0, 0, 0.8);
	display: none;
	position: fixed !important;
	top: 0px;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	z-index: 100;
}
.popup.active .popup-content {
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
}
.popup.show {
	display: block;
}
.popup.show .popup-content {
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
}

.popup-table {
	height: 100%;
	table-layout: fixed;
}
.popup-table > .cell {
	height: 100%;
	vertical-align: middle;
	padding: 30px 10px;
}

.popup-content {
	-ms-transform: scale(0);
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	position: relative;
	max-width: 1230px;
	margin: 0px auto;
	background-color: #fff;
}

.popup-close {
	width: 15px;
	height: 15px;
	position: absolute;
	top: 0px;
	right: 0px;
	cursor: pointer;
	background: url("../img/icons/close.png") 0 0 no-repeat;
}

.popup-video .popup-close {
	width: 40px;
	height: 40px;
	background-color: #000;
	top: 0;
	right: 0;
}

.header {
	height: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	position: relative;
}

.header__menu {
	position: fixed;
	z-index: 20;
	width: 100%;
	height: 100px;
	top: 0;
	left: 0;
	background-color: #fff;
}

.header__menu > .container {
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.menu__body {
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	position: relative;
}

.menu__body.active {
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 100vh;
	background: rgba(52, 198, 189, 0.85);
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding: 90px 0px 0px 0px;
}

.menu__body.active > .menu__list {
	display: block;
}
.menu__body.active > .menu__list li {
	margin: 0px 0px 20px 0px;
}

.menu__body.active > .menu__list_1,
.menu__body.active > .menu__list_2 {
	padding: 0;
	text-align: left;
}

.menu__list {
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 50%;
	        flex: 0 0 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.menu__list li {
	padding: 5px 10px;
}
@media (max-width: 991.98px) {
	.menu__list {
		display: none;
		-webkit-box-flex: 0;
		    -ms-flex: 0 0 auto;
		        flex: 0 0 auto;
	}
}

.menu__list_1 {
	padding-right: 110px;
	text-align: left;
}

.menu__link {
	position: relative;
	font-family: Open Sans;
	line-height: 19px;
	letter-spacing: 1px;
	color: #000;
}
@media (max-width: 991.98px) {
	.menu__link {
		font-size: 25px;
		color: #fff;
	}
}

.menu__link.active {
	font-weight: 700;
}

.menu__body.active > .menu__logo {
	top: 18px;
	left: 25px;
	-webkit-transform: none;
	    -ms-transform: none;
	        transform: none;
}

.menu__logo {
	position: absolute;
	top: 50%;
	right: 50%;
	-webkit-transform: translate(50%, -50%);
	    -ms-transform: translate(50%, -50%);
	        transform: translate(50%, -50%);
}
@media (max-width: 991.98px) {
	.menu__logo {
		left: 25px;
		right: auto;
		-webkit-transform: translate(0, -50%);
		    -ms-transform: translate(0, -50%);
		        transform: translate(0, -50%);
	}
}

.menu__list_2 {
	padding-left: 110px;
	text-align: right;
}

.header__view {
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
	margin-top: 100px;
	background-image: url("../img/Rectangle 1Beach.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.header__inception {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 40px 0 30px 0;
	background: rgba(52, 198, 189, 0.8);
	color: #fff;
}

.header__cnt {
	max-width: 610px;
	margin: 0px auto;
}
@media (max-width: 785.98px) {
	.header__cnt {
		max-width: 410px;
	}
}
@media (max-width: 566.98px) {
	.header__cnt {
		max-width: 300px;
	}
}

.header__title {
	font-family: Spectral;
	font-size: 48px;
	font-weight: 700;
	line-height: 52px;
	text-align: center;
	margin: 0px 0px 20px 0px;
}
@media (max-width: 785.98px) {
	.header__title {
		font-size: 35px;
		line-height: 41px;
	}
}

.header__subtitle {
	font-family: Open Sans;
	font-size: 22px;
	line-height: 30px;
	text-align: center;
}
@media (max-width: 785.98px) {
	.header__subtitle {
		font-size: 17px;
	}
}

.icon-menu {
	display: block;
	position: absolute;
	top: 41px;
	right: 10px;
	width: 30px;
	height: 18px;
	cursor: pointer;
	z-index: 5;
}
@media (min-width: 991.98px) {
	.icon-menu {
		display: none;
	}
}
.icon-menu span {
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	top: 8px;
	left: 0px;
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #000;
}
.icon-menu span:first-child {
	top: 0px;
}
.icon-menu span:last-child {
	top: auto;
	bottom: 0px;
}
.icon-menu.active span {
	-ms-transform: scale(0);
	-webkit-transform: scale(0);
	transform: scale(0);
	background-color: #fff;
}
.icon-menu.active span:first-child {
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	top: 8px;
}
.icon-menu.active span:last-child {
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	bottom: 8px;
}

.footer {
	padding: 70px 0 48px 0;
}
@media (max-width: 785.98px) {
	.footer {
		padding: 30px 0 20px 0;
	}
}

.footer > .container {
	padding: 0 20px;
}

.footer__body {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
@media (max-width: 566.98px) {
	.footer__body {
		display: block;
	}
}

.footer__nav {
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 50%;
	        flex: 0 0 50%;
	padding-right: 100px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
@media (max-width: 785.98px) {
	.footer__nav {
		padding-right: 0;
	}
}
@media (max-width: 566.98px) {
	.footer__nav {
		display: block;
	}
}
@media (max-width: 430px) {
	.footer__nav {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}
}

.footer__nav_block-1 {
	margin: 0px 15px 0px 0px;
}
@media (max-width: 566.98px) {
	.footer__nav_block-1 {
		margin: 0px 0px 0px 0px;
	}
}
.footer__nav_block-1 p {
	padding: 10px 10px 10px 0px;
}

.footer-p {
	font-family: Open Sans;
	line-height: 19px;
	letter-spacing: 1px;
}
@media (max-width: 566.98px) {
	.footer-p {
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr;
		-ms-grid-rows: repeat 2, 1fr;
		grid-template-rows: repeat 2, 1fr;
		grid-auto-rows: 1fr;
	}
	.footer-p > *:nth-child(1) {
		-ms-grid-row: 1;
		-ms-grid-column: 1;
	}
	.footer-p > *:nth-child(2) {
		-ms-grid-row: 1;
		-ms-grid-column: 2;
	}
	.footer-p > *:nth-child(3) {
		-ms-grid-row: 1;
		-ms-grid-column: 3;
	}
	.footer-p > *:nth-child(4) {
		-ms-grid-row: 2;
		-ms-grid-column: 1;
	}
	.footer-p > *:nth-child(5) {
		-ms-grid-row: 2;
		-ms-grid-column: 2;
	}
	.footer-p > *:nth-child(6) {
		-ms-grid-row: 2;
		-ms-grid-column: 3;
	}
	.footer-p > *:nth-child(7) {
		-ms-grid-row: 3;
		-ms-grid-column: 1;
	}
	.footer-p > *:nth-child(8) {
		-ms-grid-row: 3;
		-ms-grid-column: 2;
	}
	.footer-p > *:nth-child(9) {
		-ms-grid-row: 3;
		-ms-grid-column: 3;
	}
	.footer-p > *:nth-child(10) {
		-ms-grid-row: 4;
		-ms-grid-column: 1;
	}
	.footer-p > *:nth-child(11) {
		-ms-grid-row: 4;
		-ms-grid-column: 2;
	}
	.footer-p > *:nth-child(12) {
		-ms-grid-row: 4;
		-ms-grid-column: 3;
	}
}
@media (max-width: 430px) {
	.footer-p {
		display: block;
	}
}

.footer__nav_block-2 p {
	padding: 10px 0px;
}

.footer__logo {
	position: absolute;
	right: 50%;
	top: 50%;
	-webkit-transform: translate(50%, -50%);
	    -ms-transform: translate(50%, -50%);
	        transform: translate(50%, -50%);
}
@media (max-width: 785.98px) {
	.footer__logo {
		display: none;
	}
}

.footer__logo_image {
	margin: 0px 0px 15px 0px;
}

.footer__logo_icons {
	text-align: center;
}
.footer__logo_icons span img {
	border-radius: 50%;
	border: 1px solid #000;
	height: 40px;
	width: 40px;
	padding: 7px;
	max-width: 100%;
}

.footer__phone {
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 50%;
	        flex: 0 0 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	text-align: right;
	padding-left: 100px;
}
@media (max-width: 785.98px) {
	.footer__phone {
		padding-left: 0;
	}
}

@media (max-width: 566.98px) {
	.footer__phone_image {
		display: none;
	}
}

.footer__phone__text {
	font-family: Open Sans;
	font-size: 21px;
	line-height: 29px;
}
@media (max-width: 785.98px) {
	.footer__phone__text {
		font-size: 17px;
	}
}
@media (max-width: 566.98px) {
	.footer__phone__text {
		-webkit-box-flex: 1;
		    -ms-flex: 1 1 auto;
		        flex: 1 1 auto;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		font-size: 14px;
	}
}

.place-info {
	padding: 100px 0px 170px 0px;
	position: relative;
}
.place-info:before {
	content: "";
	position: absolute;
	width: 269px;
	height: 2px;
	bottom: 0;
	right: 50%;
	background-color: #B58C5D;
	-webkit-transform: translateX(50%);
	    -ms-transform: translateX(50%);
	        transform: translateX(50%);
}
@media (max-width: 785.98px) {
	.place-info {
		padding: 30px 0 60px 0;
	}
}

.place-info__title {
	font-family: Spectral;
	font-size: 48px;
	font-weight: 700;
	line-height: 73px;
	margin: 0px 0px 47px 30px;
}
@media (max-width: 785.98px) {
	.place-info__title {
		margin: 0px 0px 27px 10px;
		font-size: 38px;
	}
}

.place-info__block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
@media (max-width: 785.98px) {
	.place-info__block {
		display: block;
	}
}

.place-info__image {
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 40%;
	        flex: 1 1 40%;
	position: relative;
}
.place-info__image img {
	position: absolute;
	z-index: -1;
	-o-object-fit: cover;
	   object-fit: cover;
	-o-object-position: center;
	   object-position: center;
	width: 100%;
	height: 100%;
	top: -15px;
	right: -30px;
}
@media (max-width: 785.98px) {
	.place-info__image img {
		top: 0;
		right: 0;
	}
}
@media (max-width: 785.98px) {
	.place-info__image {
		padding-bottom: 40%;
	}
}

.place-info__inception {
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 60%;
	        flex: 1 1 60%;
	padding: 0px 0px 15px 0px;
}

.place-info__inception__body {
	width: 100%;
	height: 100%;
	position: relative;
}

.place-info__text {
	color: #896F50;
	font-family: Open Sans;
	line-height: 19px;
	background-color: #fff;
	padding: 20px 30px;
	-webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
	        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	margin: 0px 0px 34px 0px;
}

.place-info__button {
	text-align: right;
	padding-right: 10px;
}

.place-info__btn {
	font-family: Open Sans;
	line-height: 19px;
	background-color: #fff;
	border: 1px solid #1A1424;
	border-radius: 20px;
	padding: 10px 47px 10px 20px;
	position: relative;
}
.place-info__btn:after, .place-info__btn:before {
	content: "";
	position: absolute;
	right: 20px;
	background-color: #000;
	width: 10px;
	height: 1px;
}
.place-info__btn:after {
	content: "";
	top: 15.5px;
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
}
.place-info__btn:before {
	content: "";
	top: 21.5px;
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}

.place-info__logo {
	position: absolute;
	bottom: 20px;
	left: 50px;
	opacity: 0.7;
}

.rooms__title {
	font-family: Spectral;
	font-size: 36px;
	font-weight: 700;
	line-height: 55px;
	text-align: center;
	padding: 0 70px;
	margin-top: 40px;
	margin-bottom: 30px;
	position: relative;
}
@media (max-width: 624px) {
	.rooms__title {
		text-align: left;
		padding-left: 10px;
	}
}

.rooms__button {
	position: absolute;
	right: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.room__column {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
@media (max-width: 785.98px) {
	.room__column {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
}

.room__item {
	position: relative;
	padding: 15px;
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 33.333%;
	        flex: 0 0 33.333%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	margin: 0px 0px 100px 0px;
}
@media (max-width: 785.98px) {
	.room__item {
		-webkit-box-flex: 0;
		    -ms-flex: 0 0 50%;
		        flex: 0 0 50%;
		margin: 0px 0px 15px 0px;
	}
}
@media (max-width: 620px) {
	.room__item {
		-webkit-box-flex: 0;
		    -ms-flex: 0 0 100%;
		        flex: 0 0 100%;
	}
}

.room__image_3, .room__image_2, .room__image_1 {
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
	position: relative;
	border-radius: 4px;
	padding-bottom: 50%;
	-webkit-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}
.room__image_3 img, .room__image_2 img, .room__image_1 img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	-o-object-fit: cover;
	   object-fit: cover;
	-o-object-position: center;
	   object-position: center;
	max-width: 100%;
}

.room__image_1:hover, .room__image_2:hover, .room__image_3:hover {
	padding-bottom: 80%;
}

.room__info {
	text-align: center;
	border: 1px solid #DDDADA;
	border-radius: 4px;
}

.room__title {
	font-family: Open Sans;
	font-size: 20px;
	font-weight: 700;
	line-height: 27px;
	margin: 15px 0px 5px 0px;
}

.room__subtitle {
	font-family: Open Sans;
	font-size: 18px;
	line-height: 25px;
	margin: 0px 0px 15px 0px;
}

.room__btn_info {
	font-family: Open Sans;
	font-weight: 700;
	line-height: 19px;
	text-align: center;
	color: #4EA842;
}

.room__text {
	margin: 0px 0px 15px 0px;
	font-family: Open Sans;
	line-height: 18px;
}
.room__text p {
	margin: 0px 0px 15px 0px;
}

.place-info__btn.room__btn_bron {
	border: none;
}
.place-info__btn.room__btn_bron:before, .place-info__btn.room__btn_bron:after {
	content: "";
	background-color: #fff;
}

.room__btn_bron {
	color: #fff;
	background: #4EA842;
	margin: 0px 0px 20px 0px;
}

.room-person {
	position: absolute;
	z-index: 2;
	top: 0;
	right: 27px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	color: #fff;
	background-color: #34C6BD;
	padding: 10px;
}

.room-person__icon {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.room-person__text {
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
}
.room-person__text p {
	padding: 5px;
}

/* Слайдер */
/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
}

/* Лента слайдов */
.slick-track {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
}

/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
.slick-slide.slick-center {
	padding: 0;
}

/* Клонированный слайд */
/* Стрелка */
/* Стрелка влево */
/* Стрелка вправо */
/* Стрелка не активная */
/* Точки (булиты) */
/* Активная точка */
/* Элемент точки */
.slider {
	max-width: 650px;
	position: relative;
	margin: 20px 50px;
	padding: 0 80px;
}
@media (max-width: 756px) {
	.slider {
		max-width: 430px;
		padding: 0px 30px;
		margin: 0 30px 20px 30px;
	}
}
@media (max-width: 465px) {
	.slider {
		max-width: 320px;
		padding: 0 10px;
	}
}

.slider .slick-arrow {
	position: absolute;
	top: 50%;
	z-index: 5;
	font-size: 0;
	width: 30px;
	height: 60px;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
}
@media (max-width: 566.98px) {
	.slider .slick-arrow {
		width: 20px;
		height: 40px;
	}
}

.slider .slick-arrow.slick-prev {
	left: 0;
	background: url("../img/p-left.svg") 0 0/100% no-repeat;
}
@media (max-width: 566.98px) {
	.slider .slick-arrow.slick-prev {
		left: 10px;
	}
}

.slider .slick-arrow.slick-next {
	right: 0;
	background: url("../img/p-right.svg") 0 0/100% no-repeat;
}
@media (max-width: 566.98px) {
	.slider .slick-arrow.slick-next {
		right: 10px;
	}
}

.slider .slick-arrow.slick-disabled {
	opacity: 0.3;
}

.slider .slick-dots {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.slider .slick-dots li {
	list-style: none;
	margin: 0 10px;
}

/* Активная точка */
.slider .slick-dots li.slick-active button {
	background-color: transparent;
	border: 1px solid #fff;
}

/* Элемент точки */
.slider .slick-dots li button {
	font-size: 0;
	width: 10px;
	height: 10px;
	background-color: #fff;
	border-radius: 50%;
}

.slider__item {
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	opacity: 0;
	text-align: center;
}

.slider__item.slick-center {
	opacity: 1;
}

.slider__body {
	padding: 0 15px;
}

.slider__title {
	font-family: Spectral;
	font-size: 36px;
	font-weight: 700;
	line-height: 55px;
	text-align: center;
}

.slider__item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.slider__name {
	font-family: Open Sans;
	font-size: 16px;
	font-weight: 700;
	line-height: 22px;
	text-align: center;
	margin: 0px 0px 32px 0px;
	position: relative;
}
.slider__name:before {
	content: "";
	position: absolute;
	width: 102px;
	height: 1px;
	background-color: #fff;
	bottom: -10px;
	right: 50%;
	-webkit-transform: translateX(50%);
	    -ms-transform: translateX(50%);
	        transform: translateX(50%);
}

.slider__text {
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
	font-size: 16px;
	font-family: Open Sans;
	font-style: italic;
	line-height: 19px;
	text-align: center;
	margin: 0px 0px 15px 0px;
}

.slider__estimation {
	margin: 0px 0px 20px 0px;
}
.slider__estimation span {
	padding: 0 5px;
}

.block-slider {
	color: #fff;
	background: #B58C5D;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.block-slider__title {
	margin-top: 30px;
	font-family: Spectral;
	font-size: 36px;
	font-weight: 700;
	line-height: 55px;
	text-align: center;
}
@media (max-width: 765px) {
	.block-slider__title {
		margin-top: 10px;
	}
}